<div class="container">
  <div class="col-sm-4 login-wrapper">
    <h2 class="devise-title">Cadastre-se</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'devise-form'}) do |f| %>
      <%= devise_error_messages! %>
      <div class="login-fields">
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(No mínimo <%= @minimum_password_length %> caracteres)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Salvar" %>
      </div>
    <% end %>
    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
