<div class="container">
  <div class="col-sm-4 login-wrapper">
    <h2 class="devise-title">Login</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'devise-form'}) do |f| %>
        <div class="login-fields">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="field pull-left">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions pull-right">
          <%= f.submit "Entrar" %>
        </div>
      <% end %>
  </div>
</div>
